@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* ===============================
        Hero area style
==================================*/
.menu-bar {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
}
.hero-section {
    padding-top: 4.75rem;
    background-image: url('../images/banner/banner-1.png');
    background-position: center;
    background-size: cover;
}

.menu ul li:not(:last-child) {
    padding-right: 8px;
}

.menu ul li a {
    color: #814096;
}
.menu ul li a:hover {
    color: #f83292;
}

.logo-highlight {
    color: #814096;
}

.section-title {
    font-size: 3.4375rem;
    line-height: 5rem;
    color: #333;
    font-weight: 500;
}

.highlight {
    color: #f83292;
}

.download-now-btn {
    background-image: linear-gradient(90deg, #814096, #f83292);
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 5rem;
    transition: all .3s linear;
}

.download-now-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

.hero-area-img img {
    animation: bounceUpDown 1.5s infinite alternate;
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-45px);
    }
}

